*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



.connections a{
  text-decoration: none;
  color: rgb(183, 180, 180);
  padding: 0.5rem 2rem;
  
}

.connections p{
  text-decoration: none;
  color: rgb(183, 180, 180);
  padding: 0.5rem 2rem;
  
}
.socials a{
  text-decoration: none;
  color: rgb(183, 180, 180);
  padding: 0.5rem 2rem;
  
}
.socials p{
  text-decoration: none;
  color: rgb(183, 180, 180);
  /* padding: 0.5rem 2rem; */
  
}


.lowerFooter ul{
  background-color: rgb(26, 26, 34);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.socials{
  display: flex;
  justify-content: center;
  align-items: center;
}


.connections{
  display: flex;
  color: grey;
}


@media only screen and (max-width: 600px){
  .lowerFooter ul{
    background-color: rgb(26, 26, 34);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
  }

  .socials a{
    text-decoration: none;
    color: rgb(183, 180, 180);
    padding: 0.5px 2px;
    
  }

  .connections a{
    
    padding: 0.5rem 2rem;
    
  }
  
  .connections p{
    
    padding: 5px 2px;
    
  }
  
}